       


body, html {
    height: 100%;
    margin: 0;
    font-family: 'DM Mono', monospace;
    
  }
  
.bg {
    background: white;
}

#popis{
    color: black;
    font-size: 12px;
    margin-top: 10%;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
    max-width: 700px;
    
}

.form {
    
    margin-top: 70px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
    text-align: center;
    max-width: 700px;
    padding: 2px;
    padding-top: 20px;
    
}
.form-item {
    display: inline-block;
    color: white;
    height: auto;

    width: 100%;
    text-align: center;
}

.form-item-input {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    border: none;
    font-family: 'DM Mono', monospace;
    font-size: 12px;
    text-align: center;
    overflow: visible;
    width: 100%;
    max-width: 400px;
}

.form-item-input:-webkit-autofill,
.form-item-input:-webkit-autofill:hover, 
.form-item-input:-webkit-autofill:focus, 
.form-item-input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;

}

input:-webkit-autofill::first-line{
    font-style: normal;
    font-family: 'DM Mono', monospace;
    font-size: 12px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: darkgrey;
  opacity: 1; /* Firefox */
  text-align: center; 
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: darkgrey;
    text-align: center; 
}


.form:focus, .form-item-input:focus{
    outline: none;
    -moz-outline-style: none;
}


.form-submit {
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
    width: 100px;
    background-color: white;
    color: blue;
    /* text-decoration: underline; */
    border: none;
    font-family: 'DM Mono', monospace;
    font-size: 12px;
    font-style: normal;
    cursor: pointer;
    align-items: center;
    
}

.form-submit:active, .form-submit:focus {
  outline: none;
  -moz-outline-style: none;
}

.error {
    color: black;
    font-style: italic;
    margin-top: 16px;
    font-size: 10px;
    margin: auto;
    width: 50%;
    background: white(255, 0, 0, 0.3);
}

[hidden] {
    display: none;
}